# Editor configuration, see http://editorconfig.org
root = true

# For All the Files
[*]
trim_trailing_whitespace = true
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true

# For Markdown
[*.md]
max_line_length = off
trim_trailing_whitespace = false

# For App Config
[conf/**]
insert_final_newline = false
trim_trailing_whitespace = false
