.header {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    width: 100%;
    background-color: var(--color-primary);

    img,
    svg {
        display: block;
    }
}
