@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');

:root {
    --font-heading: 'Cal Sans', sans-serif;
    --font-primary: 'Wix Madefor Text', sans-serif;

    --color-primary: #4682b4;
    --color-secondary: #ffd700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    margin-bottom: .3em;
}

h1 {
    font-size: 5rem;
}

h2 {
    color: var(--color-primary);
    text-align: center;
    font-size: 4rem;
    margin-bottom: 1em;
}

h3 {
    font-size: 2.4rem;
}

h4 {
    font-size: 2rem;
}

body {
    font-family: var(--font-primary);
    font-size: 1.6rem;
    background-color: white;
}

p {
    margin-bottom: .4em;
}