[Desktop Entry]
Type=Application
Name=clipbird
Comment=A bird that syncs your clipboard
Exec=clipbird
Icon=clipbird
Terminal=false
Categories=Utility;
