.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  justify-content: center;
  align-content: center;
  padding: 10vh 50px 3vh;
}

.content .desc {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.8rem;
  max-width: 600px;
  margin: auto;
}

.youtubeVideo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.youtubeVideo iframe {
  aspect-ratio: 16/9;
  max-width: 700px;
}
