.contributeContent {
  margin: auto;
  height: auto;
  padding: 20px;
  text-align: center;
}

.contributeOsList {
  margin-top: 20px;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.gitLink {
  list-style: none;
  background: #f2f8fd;
  height: 30px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gitLink a {
  text-decoration: none;
  font-weight: bold;
  display: block;
  color: black;
}

.contributeContent section {
  margin-top: 50px;
}

.contributeContent section p {
  max-width: 700px;
  margin: auto;
}

ol li {
  list-style: none;
}
