.downloads {
  width: 100%;
}

.downloadsContent {
  text-align: center;
}

.downloadWrap {
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.os {
  background: #f2f8fd;
  width: 280px;
  height: 300px;
  border-radius: 10px;
  margin-top: 2vh;
  margin-left: 20px;
  padding: 15px;
}

.image {
  height: 100px;
  width: 100px;
  margin: auto;
  display: block;
}

.osName, .osDesc {
  margin: auto;
  text-align: center;
}

.downloadButton {
  background: #54b5f2;
  display: block;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 5% 20% 0;
  padding: 4%;
  font-size: 1rem;
  width: 60%;
  transition: transform 0.3s ease-out-in;
}

.downloadButton:hover {
  transform: scale(1.1);
}

nav li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 5px;
  position: relative;
}

@media (max-width: 690px) {
  nav li {
    margin: 0 15px;
    font-size: 1.2rem;
    padding: 1px;
    font-weight: bold;
  }
}
