.downloads{
    width:100%;
    /* height: auto; */
}

.downloadWrap{
    padding:2%;
    background: #F2F8FD;
    margin:10%;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.os{
    background: #FFFFFF;
    width: 240px;
    height: 300px;
    border-radius: 10px;
    margin-top: 2vh;
    margin-left: 20px;
    padding:15px;
}
.image {
    width: 50%;
    margin-left: 30%;
    margin-top:10%;
    margin-bottom: 10px;
}

.osName{
    margin: 0 0 5% 35%;
}
.downloadButton{
    background: #54B5F2;
    border: none;
    border-radius: 5px;
    margin:5% 20% 0;
    padding:4%;
    font-size: 1rem;
    width:60%;
    transition: transform 0.3s ease-out-in;
    
}

.downloadButton:hover{
    
    transform: scale(1.1);
}