#nav {
  background-color: #4682b4;
  display: flex;
  flex-direction: row;
  width: 100vw;
  max-width: 100%;
  color: white;
  position: fixed;
  z-index: 9999;
}

.logo-container {
  padding: 15px;
  margin-right: auto;
}
.slk{
  padding: 15px;

}

.gitlink {
  padding: 15px;
  margin-left: auto;
}
@media (max-width: 768px) {
  .logo{
    margin-top: 5px;
  }
}