.contribute {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 8rem 4rem;
  max-width: 720px;
  margin: auto;

  .contribute__option {
    text-align: left;
    margin: 4rem 0;

    h4 {
      font-family: var(--font-primary);
      margin-bottom: 2rem;
    }
  }

  .contribute__separator {
    width: 20%;
  }
}

.contribute__links {
  display: flex;
  flex-direction: column;
  gap: .3em;
}
