.download {
    padding: 10rem 4rem;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;

    h2,
    p {
        color: white;
        margin-bottom: 0.1em;
    }

    .links {
        max-width: 90%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;

        & > a {
            min-width: 14rem;
        }
    }
}
